<!DOCTYPE html>
<html>
<head>
  <title>Change Password</title>
</head>
<body>

  <h2>Change Password (First Login)</h2>

  <!-- Messages -->
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    <div>
      <label>New Password</label><br>
      <input type="password" name="new_password" required>
    </div>

    <div style="margin-top:15px;">
      <button type="submit">Update Password</button>
    </div>
  </form>

</body>
</html>